{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{{ post.title }}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/reset.css' %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/nav_bar_light.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/footer.css' %}"
    />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  </head>
  <body>
    {% include 'blog_app/nav_bar_light.html' %}
    <div class="container">
      <div class="box-divider">
        {% comment %} 본문영역 {% endcomment %}
        <div class="big-box">
          <div class="post-info">
            <h5>{{ post.created_at }} | {{ post.views }} 조회</h5>
            <h1>{{ post.title }}</h1>
            <h5>by {{ post.author_id }}</h5>
            <h5 class="topic-box">{{ post.topic }}</h5>
          </div>
          <div class="post-content">{{ post.content | safe }}</div>

          <!-- 좋아요 -->
          <div>
            <form action="{% url 'blog_app:likes_post' post.id %}" method='POST'>
              {% csrf_token %}
              <button style='border:none;'>
                {% if request.user in post.like_users.all %}
                  <i class="far fa-heart" style="color:red; font-size: 20px;"></i>
                {% else %}
                  <i class="fas fa-heart" style="color:red; font-size: 20px;"></i> 
                {% endif %}
              </button>
              <span class="small">
                {{ post.like_users.all|length }} 명이 이 글을 좋아합니다.
              </span>
              <a href="{% url 'blog_app:post_detail' post.id %}">[DETAIL]</a>
            </form>
          </div>

        </div>
        {% comment %} 추천글 영역 {% endcomment %}
        <div class="small-box">
          <div>
            <h3>Other posts</br>you may like</h3>
            {% for recommended_post in recommended_posts %}
              <div class="recommend-box">
                <a href="{% url 'blog_app:post_detail' recommended_post.id %}">
                  {{ recommended_post.image_tag|safe }}
                  {{ recommended_post.title }}</a>
                
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="button-box">
          {% if user.is_authenticated %}
          <div class="box-divider" style="gap:10px">
            {% comment %} 수정버튼 {% endcomment %}
            <a href="{% url 'blog_app:create_or_update_post' post.id %}">
              <button class="edit-button">수정하기</button>
            </a>
            {% comment %} 삭제버튼 {% endcomment %}
            <form method="POST" action="{% url 'blog_app:post_detail' post.id %}">
              {% csrf_token %}
              <input type="hidden" name="delete-button" value="true">
              <button type="submit" class="delete-button">삭제하기</button>
            </form>
          </div>
          {% endif %}
          {% comment %} 공유버튼 {% endcomment %}
          <button class="share-button">공유하기</button>
      </div>

      <!-- 댓글 기능 -->
      <div class="comment-box">
        <h4 class="comment-title">댓글 목록</h4>
          <!--read-->
          {% if comments %}
            <p><b>{{ comments|length }}개의 댓글이 있습니다.</b></p>
          {% endif %}
          <ul>
            {% for comment in comments %}
              <li>
                {{ comment.user }} - {{ comment.content }}
                <!--delete-->
                {% if user == comment.user %}
                <form action="{% url 'blog_app:comments_delete' post_id=post.id comment_pk=comment.pk %}" method="POST" class="d-inline">
                    {% csrf_token %}
                    <input type="submit" value="DELETE">
                  </form>
                {% endif %}
              </li>
            {% empty %}
              <p>댓글이 없습니다.</p>
            {% endfor %}
          </ul>
          <hr>
          <!--create-->
          {% if request.user.is_authenticated %}
            <form action="{% url 'blog_app:comments_create' post.id %}" method="POST">
              {% csrf_token %}
              {{ comment_form }}
              <input type="submit" value="작성">
            </form>
          {% else %}
            <a class="create-button" href="{% url 'blog_app:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
          {% endif %}
          </div>

      <!-- 다음글 표시 -->
      {% if next_post %}
      <div class="another-post-box">
        <div class="post-box">
          <div>다음글</div>
          <div class="post-name">
            <a href="{% url 'blog_app:post_detail' next_post.id %}"
              >{{ next_post.title }}</a
            >
          </div>
        </div>
        <p>{{ next_post.created_at }}</p>
      </div>
      {% else %}
      <div class="another-post-box"></div>
      {% endif %}

      <!-- 이전글 표시 -->
      {% if previous_post %}
      <div class="another-post-box">
        <div class="post-box">
          <div>이전글</div>
          <div class="post-name">
            <a href="{% url 'blog_app:post_detail' previous_post.id %}"
              >{{ previous_post.title }}</a
            >
          </div>
        </div>
        <p>{{ previous_post.created_at }}</p>
      </div>
      {% else %}
      <div class="another-post-box"></div>
      {% endif %}
    </div>
    {% include 'blog_app/footer.html' %}
  </body>
  <script>
    // 공유하기 버튼 클릭 시
    document.querySelector('.share-button').addEventListener('click', function() {
      let postUrl = window.location.href;
      
      // 클립보드에 복사
      let tempInput = document.createElement("input");
      document.body.appendChild(tempInput);
      tempInput.value = postUrl;
      tempInput.select();
      document.execCommand("copy");
      document.body.removeChild(tempInput);
      
      // 알림 표시
      alert('포스트 링크가 클립보드에 복사되었습니다');
    });
  </script>
</html>
