{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>로그인</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/reset.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/login.css' %}"
    />
  </head>
  {% if user.is_authenticated %}
  <p>{{ user.username }}</p>
  <a href="javascript:{document.getElementById('logout').submit()}">로그아웃</a>
  <form id="logout" method="POST" action="{% url 'logout' %}">
    {% csrf_token %} <input type="hidden" />
  </form>
  {% else %}
  <body>
    <form method="post" action="{% url 'blog_app:login' %}">
      <h2>Login</h2>
      <div class="box">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Login</button>
      </div>
      <div class="signup">
        <a href="{% url 'blog_app:signup' %}" style="color: #1e1e1e"
          >Sign up /</a
        >
        <a href="{% url 'blog_app:post_list' %}" style="color: #1e1e1e">
          Home</a
        >
      </div>
    </form>
    {% endif %}
  </body>
</html>
