{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={% static 'css/login.css' %}>
    <title>Document</title>
  </head>
  <body>

    <form
      method="post"
      action="{% url 'blog_app:signup' %}"
      onsubmit="return checkPasswordMatch();"
    >
      {% csrf_token %}
      <h3>👋Create Account</h3>
      <div class="box">
          <input type="text" name="username" placeholder="Username">
          <br>
          <input type="password" name="password" placeholder="Password">
          <br>
          <input type="password" name="confirm" placeholder="Confirm Password">
          <br>
          {% if messages %}
          <ul class="messages" style="list-style-type: none; font-weight: bold;
          margin-right: 40px;">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        <button type="submit">Signup</button>
      </div>
      <div class="home">
        <a href="{% url 'blog_app:login' %}">Login / </a>
        <a href="{% url 'blog_app:post_list' %}"> Home</a>
      </div>
    </form>
  </body>
</html>
