{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={% static 'css/login.css' %}> <link
    rel="stylesheet" href={% static 'css/login.css' %}>
    <title>Document</title>
  </head>
  <body style="background-color: white;">
    <form method="POST" action="{% url 'blog_app:signup' %}">
      {% csrf_token %} 

        <h3>👋Create Account</h3>
        <input type="text" name="username" placeholder="username" />
        <br />
        <input type="password" name="password" placeholder="password" />
        <br />
        <input type="password" name="confirm" placeholder="confirm" />
        <br />
        <button type="submit">Signup</button>
      <div class="home">
          <a href="{% url 'blog_app:login' %}">Login / </a>
          <a href="{% url 'blog_app:post_list' %}"> Home</a>
      </div>
    </form>
  </body>
</html>
